<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editmode ? 'Edit product' : 'Add product'" subheader="You can add your product here">
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button [disabled]="!form.valid" (click)="onSubmit()" styleClass="p-button-primary mr-2"
              [label]="editmode ? 'Update' : 'Create'" icon="pi pi-plus">
            </p-button>
            <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left">
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form" enctype="multipart/form-data">
          <div class="p-fluid p-formgrid grid">
            <div class="field col">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              <small *ngIf="productForm.name.invalid && productForm.name.touched" class="p-error">Name is
                required.</small>
            </div>
            <div class="field col">
              <label for="brand">Brand</label>
              <input formControlName="brand" id="brand" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              <small *ngIf="productForm.brand.invalid &&  productForm.brand.touched" class="p-error">Brand is
                required.</small>
            </div>
            <div class="field col">
              <label for="price">Price</label><br />
              <p-inputNumber formControlName="price" mode="decimal" id="price" inputId="price"
                [useGrouping]="false"></p-inputNumber>
              <small *ngIf="productForm.price.invalid &&  productForm.price.touched" class="p-error">Price is
                required.</small>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-4">
              <label for="countInStock">Count in Stock</label><br />
              <p-inputNumber formControlName="countInStock" mode="decimal" id="countInStock" inputId="countInStock"
                [useGrouping]="false"></p-inputNumber>
              <small *ngIf="productForm.countInStock.invalid &&  productForm.countInStock.touched" class="p-error">Count
                in stock is
                required.</small>
            </div>
            <div class="field col-4">
              <label for="category">Category</label><br />
              <p-dropdown [options]="categories" formControlName="category" optionLabel="name" optionValue="id"
                [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Category"></p-dropdown>

              <small *ngIf="productForm.category.invalid &&  productForm.category.touched" class="p-error">Category
                is
                required.</small>
            </div>
            <div class="field col-4">
              <label for="isFeatured">Is Featured</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="field col-12">
              <label for="description">Description</label><br />
              <textarea [rows]="7" [cols]="30" pInputTextarea formControlName="description"></textarea>
              <small *ngIf="productForm.description.invalid &&  productForm.description.touched"
                class="p-error">Description
                is
                required.</small>
            </div>
            <div class="field col-12">
              <label for="richDescription">Product Details</label><br />
              <p-editor formControlName="richDescription" [style]="{'height': '320px'}"></p-editor>
            </div>
            <div class="field col-12">
              <label for="name">Main Image</label><br />
              <input name="image" type="file" class="file-input" accept="image/*" (change)="onImageUpload($event)">

              <small *ngIf="productForm.image.invalid && productForm.image.touched" class="p-error">Image is
                required.</small>

              <div class="col-2 mt-2 pl-0"><img style="width: 100%;" [src]="imageDisplay" alt=""></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>