<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i>
              <span class="name">Orders</span>
            </div>
            <span class="number">{{ statistics[0] }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-products">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i>
              <span class="name">Products</span>
            </div>
            <span class="number">{{ statistics[1] }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-users">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i>
              <span class="name">Users</span>
            </div>
            <span class="number">{{ statistics[2] }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-totalsales">
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i>
              <span class="name">TotalSales</span>
            </div>
            <span class="number">{{ statistics[2] | currency }}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>